
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ 'mechanic-selector.label' | translate }}</mat-label>
      <mat-select [ngModel]="selectedMechanicId" (ngModelChange)="onSelectionChange($event)" [disabled]="disabled">
        @for (reg of fleetStore.employeeRegistrations(); track reg.id) {
          <mat-option [value]="reg.id">
            <app-employee-name [employeeId]="reg.employeeId"></app-employee-name>
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  