<div class="view-container">
  <div class="view-header">
    <div class="header-titles">
      <button class="btn-back" (click)="onCancel()"><i class="pi pi-arrow-left"></i></button>
      <div>
        <h2>{{ isEditMode ? ('inventory.productForm.editTitle' | translate) : ('inventory.productForm.newTitle' | translate) }}</h2>
        <p>{{ isEditMode ? ('inventory.productForm.editSubtitle' | translate) : ('inventory.productForm.newSubtitle' | translate) }}</p>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!isEditMode">
    <app-product-form 
      [isEditMode]="false"
      (save)="onSave($event)"
      (cancel)="onCancel()">
    </app-product-form>
  </ng-container>

  <ng-container *ngIf="isEditMode">
    <ng-container *ngIf="activeProduct(); else loading">
      <app-product-form 
        [initialData]="activeProduct()"
        [isEditMode]="true"
        (save)="onSave($event)"
        (cancel)="onCancel()">
      </app-product-form>
    </ng-container>
    <ng-template #loading>
      <div class="loading-state">
        <i class="fas fa-spinner fa-spin"></i> {{ 'inventory.productDetail.loading' | translate }}
      </div>
    </ng-template>
  </ng-container>
</div>
