.arrow-back-btn {
  color: #0071EB;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.arrow-back-btn i {
  font-size: 1.25rem;
  font-weight: bold;
}

.arrow-back-btn:hover {
  transform: translateX(-3px);
}
